@model IEnumerable<bai01.Models.Post>  // Update the namespace to match your project

@{
    ViewData["Title"] = "Posts Index";
}

<h1>Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>Category</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => post.Title)</td>
                <td>@Html.DisplayFor(modelItem => post.Author)</td>
                <td>@post.PublishedDate.ToString("yyyy-MM-dd")</td>
                <td>@Html.DisplayFor(modelItem => post.Category.Name)</td>
                <td>@Html.DisplayFor(modelItem => post.Content)</td>
            </tr>
        }
    </tbody>
</table>
